
[submodule "libs/libft"]
	path = libs/libft
	url = git@github.com:juslee/libft.git
[submodule "libs/get_next_line"]
	path = libs/get_next_line
	url = git@github.com:juslee/get_next_line.git
[submodule "libs/ft_printf"]
	path = libs/ft_printf
	url = git@github.com:juslee/ft_printf.git
[submodule "libs/minilibx-linux"]
	path = libs/minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
